[pgbouncer]
admin_users = ${admin_users}
auth_file = ${auth_file}
auth_type = ${auth_type}
client_login_timeout = ${client_login_timeout}
default_pool_size = ${default_pool_size}
ignore_startup_parameters = ${ignore_startup_parameters}
listen_addr = ${listen_addr}
listen_port = ${listen_port}
logfile = ${logfile}
; max client connections is per user/db - Note file descriptor limits need to
; be upped based on the following calculation:
; max_client_conn + (max_pool_size * total_databases * total_users)
max_client_conn = ${max_client_conn}
pidfile = ${pidfile}
; pool_mode transaction assumes we don't use certain features of PG
; See https://wiki.canonical.com/UbuntuOne/OperationsPlus/PoolingDBConnections#SQL
; feature map for pooling modes
pool_mode = ${pool_mode}
reserve_pool_size = ${reserve_pool_size}
server_check_delay = ${server_check_delay}
server_check_query = SELECT 1;
server_connect_timeout = ${server_connect_timeout}
server_idle_timeout = ${server_idle_timeout}
server_lifetime = ${server_lifetime}
server_login_retry = ${server_login_retry}
server_reset_query = DISCARD ALL;
stats_users = nagios
unix_socket_dir =
user =
